{% extends "base.html" %}
{% block content %}

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">



    <h1>Desserts</h1>



    {% if dessert_items %}




        <ul class="menu_page">



            {% for item in dessert_items %}


                <li>
                    <div class=menu_item_link>
                        <a href="{% url "desserts_detail" item.id %}">

                            {{ item.dessert_name }}: ${{ item.dessert_price }}

                        </a>


                    </div>


                    <a href="{% url "desserts_detail" item.id %}">
                        <img src="{{ item.dessert_image.url }}" width="300">
                    </a>
                </li>
            {% empty %}
                <p>No Item to Display</p>
            {% endfor %}
        </ul>

    {% else %}

        <p>No Item to Display</p>


    {% endif %}

    <div class="bottom_links">
        <p></p>
        <form method="POST" action="{% url 'homepage' %}">
            {% csrf_token %}
            <button type="submit">Homepage</button>
        </form>

    </div>


{% endblock %}


